
// ------------- title and buttons style -------------

.row{
    background-color: #000;
}
.row span{
    color: skyblue;
}
.btns {
  padding-top: 20px;
    display: flex;
    gap: 10px; 

    // ------ btn 1 ----------
    .btn1 {
      background-color: #000;
      border-radius: 5px;
      transition: background-color 0.3s ease, transform 0.2s ease;
  
      &:hover {
        background-color: #06635e;
        transform: translateY(-5px);
      }
  
    }

    // ---------- btn 2 -------------
    .btn2 {
        background-color: #000;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    
        &:hover {
          background-color: #06635e;
          transform: translateY(-5px);
        }
    
      }

    //   --------- btn 3 ----------
    .btn3 {
        background-color: #000;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    
        &:hover {
          background-color: #06635e;
          transform: translateY(-5px);
        }
    
      }

    //   ---------- btn 4 ------------
    .btn4 {
        background-color: #000;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    
        &:hover {
          background-color: #06635e;
          transform: translateY(-5px);
        }
    
      }
    //   --------------- btn 5 --------------
    .btn5 {
        background-color: #000;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    
        &:hover {
          background-color: #06635e;
          transform: translateY(-5px);
        }
    
      }
    //   --------------- btn 6 ----------------
    .btn6 {
        background-color: #000;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    
        &:hover {
          background-color: #06635e;
          transform: translateY(-5px);
        }
    
      }
  }
  

//  ------------------- card content option ----------------

.grid{
    background-color: rgb(11, 95, 84);
    height: 90%;
}
.row1{
    display:  flex;
    margin-top: 5%;
}
.left{
    height: 450px;
    background-color: rgb(150, 85, 1);
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 20px;
}
.left h1{
    color: black;
    padding-top: 40%;
    padding-left: 25%;
}
.right{
    height: 450px;
    background-color: white;
    border-right: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-top: 5%;
    border-radius: 20px;
}
.right ion-input{
    color: black;
}
.right ion-button{
    color: white;
    background-color: black;
    width: 100%;
    border-radius: 20px;
}
.right p{
    color: black;
}

// --------------- footer option --------------

.foot{
    background-color: rgb(32, 31, 31);
    height: 50%;
    border: 3px solid black;
}
.foot h1{
    padding-top: 10px;
    padding-left: 45%;
}
.foot span{
    color: skyblue;
}
.foot buttons{
    padding-right: 40%;
}