
<ion-content>
  <!-- ---------- title and bittons options ------------------- -->

  <ion-row class="row">
    <ion-col>
      <h2><b>task <span>Management</span></b></h2>
    </ion-col>
    <ion-col>
      <ion-buttons class="btns">
        <ion-button class="btn1">Home</ion-button>
        <ion-button class="btn2">Work</ion-button>
        <ion-button class="btn3">Work</ion-button>
        <ion-button class="btn4">About Us</ion-button>
        <ion-button class="btn5">Project</ion-button>
        <ion-button class="btn6">Contect Us</ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
    <!-- ------------- card content options ---------------- -->
  <ion-grid class="grid">
    <ion-row class="row1">
      <ion-col class="left" size="3" sizeMd="3" sizeSm="1.5" offset="3">
        <h1><b>Admin Can Login</b></h1>
      </ion-col>
      <ion-col class="right" size="3" sizeMd="3" sizeSm="1.5">
          <ion-input label="Email" placeholder="enter email" labelPlacement="floating" [(ngModel)]="email">
          <ion-icon name="mail" slot="end" class="ion-padding"></ion-icon>
          </ion-input><br>
        <ion-input label="password"  [type]="passwordVisible ? 'text' : 'password'"
         placeholder="enter your password" labelPlacement="floating" [(ngModel)]="password">
          <ion-icon  [name]="passwordVisible ? 'eye' : 'eye-off'" (click)="togglePasswordVisibility()" slot="end" class="ion-padding"></ion-icon>
        </ion-input><br>
         <ion-buttons>
          <ion-button expand="block" (click)="login()"><b>Login</b></ion-button>
         </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
    <!-- --------------- footer option ----------------- -->
  <ion-row class="foot">
      <h1><b>task <span>Management</span></b></h1>
  </ion-row>
</ion-content>

